<html>
    <meta http-equiv="refresh" content="30">
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #f7f0fc;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #ffffff;
            }
        </style>
        <title>Docker Dashboard</title>
        <body>
        <font color=maroon><center><h2>CTI Docker Container Views</h2></font></center></br>
        <table>
            <tr>
                <th>Container Name</th>
                <th>Container ID</th>
                <th>Container Status</th>
                <th>Container State</th>
                <th>Container Image</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>{{i.container_name}}</td>
                    <td>{{i.container_id}}</td>
                    <td bgcolor="#D1F2EB">{{i.container_state}}</td>
                    <td>{{i.container_status}}</td>
                    <td>{{i.container_image}}</td>
                </tr>
            {% endfor %}
        </table>
        </body>
    </head>
</html>